body{
	background-color: #C7C9FF;
}
img{
	margin:auto;
	display: block;
}

p{
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
}
.loginContainer{
	background-color: #b3b3b3;
	border:#333 1.5px solid;
	width: 20%;
	margin: auto;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}

.btnLogin {
	border:#000 0.5px solid;
	font-size:relative;
}

form label {
	font-size: relative;
}

input {
	width: 50%;
}