pageheader{
    position: absolute;
}

#logo
{
    width: 10%;
    float: left;
}

#samaeHeader{
    width : 75%;
    float: left;
    font-family: arial;
    margin-left: 90px;
    position: absolute;
}

#samaeFooter{
    width: 100%;
    float: left;
    text-align: right;
}

#reportDate{
    width: 10%;
    margin-top: 20px;
    margin-left: 610px;
    float: right;
    font-family: arial;
    position: absolute;
    text-align: right;
}

#samaeHeader h4, h5, p{
    text-align:center;
}

#samaeHeader h3{
    font-size: 20px;
}

#samaeHeader h4{
    font-size: 14px;
}

#report {
    margin-top: 110px;
    margin-left: 20px;
}

#reportTitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 50%;
}

.reportTable {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

.reportTable td{
    border: 1.5px black;
    padding: 2.5px;
}

.reportTable .reportTableHeader {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    background-color: #80ffff;
    width: 12%;
}

.reportTable .reportTableInfo {
    font-size: 14px;
    text-align: center;
}